@import url(../css/Null.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");
html, body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: white;
}

.title {
  font-size: 64px;
  line-height: calc((87/64)*100%);
  text-transform: uppercase;
  font-weight: 700;
}

.text {
  margin: 38px 125px 0px 0px;
  font-size: 14px;
  line-height: 150%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 540px;
}

.title--low {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text--low {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

span {
  color: #D1A954;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header__container {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.header__menu {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .header__menu {
    margin-top: 56px;
  }
}

.header__telephone {
  font-size: 16px;
  line-height: calc((22/16)*100%);
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 15px;
}

.header__telephone:hover {
  color: red;
}

.header__telephone ::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 3px;
  border-bottom: 2px solid #D1A954;
}

@media (max-width: 992px) {
  .header__telephone {
    padding: 50px 0px 0px 0px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__telephone {
    margin: 0px;
    padding: 0px 25px 0px 0px;
    display: inline-block;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 824px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 15px 0px 0px;
}

.menu__link {
  font-size: 18px;
  text-transform: uppercase;
  line-height: calc((24/18)*100%);
  font-weight: 700;
  letter-spacing: 0.1em;
}

.menu__link:hover {
  color: red;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

.page__left-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.678);
  height: 1045px;
  width: 160px;
}

@media (max-width: 1477px) {
  .page__left-bg {
    display: none;
  }
}

.page__bg {
  position: relative;
  padding: 54.4% 0px 0px 0px;
  min-height: 1045px;
}

.page__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__content {
  margin: 267px 0px 0px 0px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__description {
  margin: 117px 0px 0px 0px;
}

.content__btn {
  margin: 50px 0px 0px 0px;
  background-color: #D1A954;
  height: 50px;
  width: 160px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  line-height: calc((25/18)*100%);
  letter-spacing: 0.1em;
  color: white;
}

@media (max-width: 992px) {
  .slider {
    display: none;
  }
}

.slider__controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 0px 0px 0px;
}

.slider__next {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: calc((25/18)*100%);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  padding: 0px 65px 0px 0px;
}

.slider__next::after {
  content: "";
  position: absolute;
  background-image: url(/img/slider/Arrowdark.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-repeat: no-repeat;
  width: 41px;
  height: 16px;
  top: 5px;
  left: 68px;
}

.slider__back {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: calc((25/18)*100%);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 0px 65px;
}

.slider__back::before {
  content: "";
  position: absolute;
  background-image: url(/img/slider/Arrowdark.svg);
  background-repeat: no-repeat;
  width: 41px;
  height: 16px;
  top: 5px;
  left: 0px;
}

.social {
  z-index: 10;
  position: absolute;
  top: 400px;
  left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1477px) {
  .social {
    display: none;
  }
}

.social__text {
  display: inline-block;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
}

.social__text span {
  height: 25px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translate(110px, -109px);
          transform: rotate(-90deg) translate(110px, -109px);
}

.social__line {
  height: 80px;
  width: 3px;
  background-color: #C4C4C4;
  margin: 40px 0px 40px 12px;
}

.social__media {
  height: 50px;
  width: 50px;
}

.social__list {
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__list > *:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.social__item a {
  width: 100%;
}

.page {
  background-color: #333333;
}

.about__inner {
  margin: 150px 0px 150px 0px;
}

.about__title {
  text-align: center;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  margin: 150px 0px 100px 0px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 445px;
  margin: 0px 30px 0px 0px;
}

.about__text h2 {
  font-size: 21px;
  line-height: calc((29/21)*100%);
  margin: 0px 0px 40px 0px;
}

.about__text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: calc((21/14)*100%);
  font-weight: normal;
}

.about__info {
  margin: 0px 30px 0px 0px;
}

.about__info h2 {
  margin: 0px 0px 40px 0px;
}

.about__doc {
  margin: 0px 0px 25px 0px;
}

.footer {
  background-color: #5baf85;
  height: 50px;
}
