@import url(../css/Null.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");
html, body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header__container {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.header__menu {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .header__menu {
    margin-top: 56px;
  }
}

.header__telephone {
  font-size: 16px;
  line-height: calc((22/16)*100%);
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 15px;
}

.header__telephone:hover {
  color: red;
}

.header__telephone ::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 3px;
  border-bottom: 2px solid #D1A954;
}

@media (max-width: 992px) {
  .header__telephone {
    padding: 50px 0px 0px 0px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__telephone {
    margin: 0px;
    padding: 0px 25px 0px 0px;
    display: inline-block;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 824px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 15px 0px 0px;
}

.menu__link {
  font-size: 18px;
  text-transform: uppercase;
  line-height: calc((24/18)*100%);
  font-weight: 700;
  letter-spacing: 0.1em;
}

.menu__link:hover {
  color: red;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

.page__bg {
  position: relative;
  padding: 84.4% 0px 0px 0px;
}

.page__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
