// ____________________Обнуляющий стиль_______________________________
@import url(../css/Null.css);
// _________________________Шрифты____________________________________
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap');
// __________________________Текст____________________________________
html, body {
   font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
   line-height: 1;
   font-weight: 400;
	color: white;
}

// .img-adaptiv {
//    position: relative;
//    img {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       top: 0;
//       left: 0;
//       object-fit: cover;
//       object-position: center;
//    }
// }



// __________________________Тело_____________________________________

.wrapper {
   min-height: 100%;
   overflow: hidden;

   //_________________Прибить футер к низу_________________
   display: flex;
   flex-direction: column;
}

.header {

   &__container {
   }
}

.container {
   //_________________Ширина контейнера_________________
   max-width: 1110px;

   //_____________________По центру_____________________
   margin: 0 auto;

   //_____________________Отступ безопасности_____________________
   padding: 0px 15px;
   box-sizing: content-box;
}




//_________________________________________Header_________________________________________





.header {
   //_____________________Наезжает на фон_____________________
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   
   &__container {
      display: flex;
      min-height: 27px;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 768px) {
         justify-content: right;
      }
   }

   &__menu {
      margin-top: 50px;
      @media (max-width: 768px) {
         margin-top: 56px;
      }
   }

   &__telephone {
      font-size: 16px;
      line-height: calc((22/16)*100%);
      font-weight: 700;
      letter-spacing: 0.05em;
      margin-top: 50px;
      align-self: flex-start;
      padding-left: 15px;
      &:hover {
         color: red;
      }
      ::after {
         content: "";
         display: block;
         width: 100%;
         padding-top: 3px;
         border-bottom: 2px solid #D1A954;
      }
      @media (max-width: 992px) {
         padding: 50px 0px 0px 0px;
         margin: 0 auto;
      }
      @media (max-width: 768px) {
         margin: 0px;
         padding: 0px 25px 0px 0px;
         display: inline-block;
         
      }
   }
}

.logo {

   &__img {
   }
}
.menu {
   display: flex;
   justify-content: space-between;
   width: 824px;
   &__list {
      // _____________________Адаптивный отступ у эл. 1 круга вниз, кроме посл._____________________
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 768px) {
         display: none;
      }

   }

   &__item {
      height: 30px;
      align-self: flex-end;
      padding: 0px 15px 0px 0px;
   }

   &__link {
      font-size: 18px;
      text-transform: uppercase;
      line-height: calc((24/18)*100%);
      font-weight: 700;
      letter-spacing: 0.1em;
      &:hover {
         color: red;
      }
   }
}




//______________________________________Page______________________________________

.page {
   // Прибить футер к низу
   flex: 1 1 auto;
   height: 100%;
   
   &__bg {
      position: relative;
      padding: 84.4% 0px 0px 0px;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         object-position: center;
      }
   }

   &__main {
   }

   &__container {
   }

   &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}

.container {
}

.main {

   &__content {
      display: flex;
   }
}

.content {
   &__description {
   }

   &__title {
   }

   &__text {
   }

   &__btn {
   }

   &__slider {
   }
}

.slider {

   &__content {
   }

   &__img {
   }

   &__controlls {
   }
}

//______________________________________Footer______________________________________
.footer {
}




